* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  background-color: #5995da;
  padding: 20px 0;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.menu {
  width: 1200px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: white;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.login {
  margin-left: 20px;
}
